.logo_sudv {  
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;    
    height: 150px;  
    margin-bottom: 10px;
}

.find-patient .input {
    background: transparent;
    background-color: rgba(255, 255, 255, 0.603);
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 20px;
}

::-webkit-input-placeholder {
    color: #155772;
    font-weight: 600;
}

.input .MuiOutlinedInput-root {
    border-radius: 20px;
    text-align: center;
}

.find-patient {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 20vh;
}

.find-patient .MuiButton-root {
    background-color: #1d86af;
    border-radius: 20px;
    color: #FFFF;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
    margin-left: 75px;
    width: 150px !important;
}

.find-patient .MuiCardContent-root {
    padding: 0 !important;
}

.find-patient .MuiButton-root:hover {
    background-color: #18617e;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
}

@media screen and (min-width: 738px) {
    .find-patient .MuiButton-root {
        margin-left: 29vh;
    }
}


@media screen and (min-width: 1030px) {
    .input {
        background: transparent;
        line-height: 2.2;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.603);
        border-radius: 20px;
        margin-bottom: 15px;
    }
    ::-webkit-input-placeholder {
        color: #155772;
        font-weight: 200;
    }
    .input .MuiOutlinedInput-root {
        border-radius: 20px;
        text-align: center;
        font-size: 30px;
    }
    .find-patient {
        margin-left: 20vh;
        margin-right: 20vh;
        margin-top: 20vh;
    }
    .find-patient .MuiButton-root {
        width: 160px !important;
        margin-left: 75vh !important;
    }
}

