.profile {
    background-color: rgba(255, 248, 220, 0.514);
    margin-top: 50%;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 10%;
    border-radius: 15px;
}

.profile .MuiGrid-container {
    margin-left: 5%;
    padding-top: 20%;
}

.profile .MuiTypography-h4 {
    margin-bottom: 30%;
}

.nurse-info {
    margin-left: 5px;
}

@media screen and (min-width: 1030px) {
    .profile {
        margin-top: 5%;
        margin-right: 20%;
        margin-left: 20%;
        padding-bottom: 5%;
        border-radius: 15px;
    }
    .profile .MuiGrid-container {
        margin-left: 5%;
        padding-top: 5%;
    }
    .profile .MuiTypography-h4 {
        margin-bottom: 5%;
        text-align: center;
    }
}