.content {
    display: flex;
    flex-grow: 1;
    padding-top: 10px !important;
    padding: 30px;
    width: 100%;
    padding: 0;
    color: #fff !important;
}

.MuiAppBar-root {
    width: 65% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13% !important;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.MuiTypography-h6 {
    color: #fff !important;
    font-size: 130% !important;
    font-weight: 350 !important;
}

.content header {
    background-color: #3EC3F8;
}

@media screen and (min-width: 1200px) {
    .MuiAppBar-root {
        width: 250px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 80vh !important;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}