body{
    background-image: url("./assets/background-img/desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    
}
a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 450px){
    body{
        background-image: url("./assets/background-img/celular.png");
        
    }
}

@media screen and (max-width: 1030px){
    body{
        background-image: url("./assets/background-img/tablet.png");
        
    }
}
