.patient{
    background-image: url('../../assets/background-img/teste2.png');
}
.patient .data-patient {
    background-color: #002B58 !important;
    padding-top: 60px !important;
}
.patient .data-patient .MuiTypography-alignCenter {
    color: #fff !important;
}
.patient .data-patient .MuiIconButton-root {
    color: #80BDE2;
}
.patient .data-patient .MuiSvgIcon-root {
    font-size: 2.5rem;
}

.patient .data-patient .MuiTypography-h3 {
    font-size: 1.2rem;
}
.MuiTypography-h4 {
    font-size: 1rem !important;
}
.patient .data-patient .MuiCardActions-root {
    margin-left: 18%;
    margin-top: 5%;
    height: 25px;
}
.table-vaccines {
    margin-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 22%;
}

.patient .data-patient .btn-voltar {
    text-align: left;
}

.info-pregnant {
    text-align: left;
    color: #002B58;
    font-family: 'Roboto';
    margin-top: 10px;
    margin-bottom: 5px;
}

.info-sickness {
    text-align: left;
    color: #002B58;
    font-family: 'Roboto';
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-back {
    text-align: left;
}

.btn-vacinar {
    text-align: right;
}

@media screen and (min-width: 738px) {
   
    .patient .data-patient .MuiTypography-h3 {
        font-size: 2rem;
    }
    .patient .data-patient .MuiTypography-h4 {
        font-size: 1.5rem;
    }
    .patient .data-patient .MuiCardActions-root {
        margin-left: 50%;
        margin-top: 5%;
        height: 25px;
    }
    .table-vaccines {
        margin-top: 25px;
        padding-left: 75px;
        padding-right: 75px;
        font-size: 8px;
    }
}

@media screen and (min-width: 1030px) {
    .table-vaccines {
        margin-top: 50px;
        padding-left: 150px;
        padding-right: 150px;
        font-size: 15px;
    }
    .patient .data-patient .MuiCardActions-root {
        margin-left: 70%;
        height: 20px;
    }
    .patient .data-patient .MuiButtonBase-root {
        top: -50 !important;
        bottom: 50px !important;
    }
}
